/* Variables */
$primary-color: #292c35;
$text-color: #fff;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #292c35;
  color: white;
}
